<!doctype html>
<html lang="en">
<head>
  <title>HIGH-SPEED-5</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <script src="/socket.io/socket.io.js"></script>


</head>
<body>
  <p id="gameId"><%= gameId %></p>
  <script src="js/script.js"></script>
</body>

</html>
