<!doctype html>
<html lang="en">
<head>
  <title>HIGH-SPEED-5</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/socket.io/socket.io.js"></script>


</head>
<body>
  <a href="/">Create a New Game</a>

  <p id="gameId"><%= gameId %></p>
  <p id="acc"></p>
  <p id="status">Waiting for player to join...</p>

  <script src="/js/script.js"></script>
</body>

</html>
