<!doctype html>
<html lang="en">
<head>
  <title>HIGH-SPEED-5</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">


</head>
<body>
  <a href="/create">create</a>
  <a href="#" id="join">join</a>
  <script>
    document.getElementById("join").onclick = function() {
      var id = window.prompt("Game ID:");
      if (id != null) {
        window.location = "/game/" + id;
      }
    }
  </script>
</body>

</html>
