<!doctype html>
<html lang="en">
<head>
  <title>HIGH-SPEED-5</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">


</head>
<body>
  <a href="/create">create</a>
</body>

</html>
