<!doctype html>
<html lang="en">
<head>
  <title>HIGH-SPEED-5</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="container">
    <h1>HIGH SPEED FIVE</h1>
    <a href="/create"><i class="fa fa-plus" aria-hidden="true"></i> CREATE</a>
    <a href="#" id="join"><i class="fa fa-group" aria-hidden="true"></i> JOIN</a>
  </div id="container">
  <script>
    document.getElementById("join").onclick = function() {
      var id = window.prompt("Game ID:");
      if (id != null) {
        window.location = "/game/" + id;
      }
    }
    document.getElementById("join").innerHTML = window.innerWidth;
  </script>
</body>

</html>
