<!doctype html>
<html lang="en">
<head>
  <title>WebGL Globe</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <script src="/socket.io/socket.io.js"></script>


  </style>
</head>
<body>

  <script src="js/script.js"></script>
</body>

</html>
