<!doctype html>
<html lang="en">
<head>
  <title>HIGH-SPEED-5</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div id="container">
    <h2><%= message %></h2>
    <a href="/">GET ME OUTTA HERE!</a>
  </div>
</body>

</html>
