* {
  margin:0;
  padding:0;
  font-family:sans-serif;
}



.icon-buttons {
  position:absolute;
  top:0;
  width:60px;
}

.left { left:0; }
.right { right:0; }

#gameId {
  padding-left:30px;
  width:90%;
  text-align: left;
}

a {
  display:inline-block;
  color:white;
  padding:20px 0px 20px 0px;

  width:100%;
  background-color:black;
  font-weight: 600;
  letter-spacing:3px;
  text-decoration: none;
  text-align: center;
  margin-bottom:20px;
  font-size: 16px;
}

.underline:after{
  content:"";
  position:absolute;
  /*position: relative;*/
  left:0;
  bottom:0;
  right:0;
  margin:auto;
  background:black;
  height:10px;
  /*width:20px;*/

}

p {
  font-size:16px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
}

#status {
  margin-top:10px;
  font-size: 18px;
}

h2 {
  font-weight:800;
  text-align: center;
  margin-top: 50px;
  margin-bottom:100px;
}

h1 {
  font-weight:800;

  text-align: center;
  padding:40px 10px 40px 10px;
  border:7px black solid;
  word-spacing:99999px;
  width:70%;
  margin:0 auto;
  margin-bottom:60px;
  transition-duration:0.25s;
}

h1:hover {
  color:white;
  background-color:black;
  border-color:white;
  transition-duration:0.25s;
}

#container {

  width:90%;
  margin:0 auto;
  margin-top:80px;
}

@media only screen and (min-width: 450px) {
  h1 {
    width:200px;
  }

}

@media only screen and (max-width: 400px) {
  #container {
    margin-top:50px;
  }
}
